html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald-Regular';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER------------------------------------------------------------------*/
header {
  padding: 39px 0 23px 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 88.88%;
  max-width: 1440px;
}
.header__categories {
  display: flex;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
}
.header__goods {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__goods img {
  align-self: flex-end;
  margin-bottom: 7px;
  margin-left: 2px;
}
.header__goods span {
  min-width: 50px;
}
.header__news {
  margin-left: 12px;
  cursor: pointer;
}
.header__logo {
  position: absolute;
  left: 47%;
  cursor: pointer;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__auth img {
  cursor: pointer;
}
.header__search {
  margin-left: 10px;
  width: 23px;
  height: 23px;
}

.header__login {
  position: relative;
  margin-left: 20px;
}
.header__heart {
  margin-left: 14px;
}
.header__mail {
  margin-left: 14px;
}

.icon {
  display: none;
}
/* HEADER END------------------------------------------------------------------*/

/* PRODUCT------------------------------------------------------------------*/
.main__product {
  cursor: pointer;
  width: 260px;
}
.main__product:hover {
  position: relative;
  bottom: 5px;
}
.main__img {
  width: 100%;
}
.product__name {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.product__name_sp {
  font-size: 18px;
  line-height: 27px;
}
.product__category {
  font-size: 14px;
  line-height: 21px;
  color: #b6b6b6;
}
.product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.product__price__sp {
  font-size: 14px;
  line-height: 21px;
}
.product__time {
  font-size: 14px;
  line-height: 21px;
  color: #b6b6b6;
}
.product_flex {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
.main__new {
  display: flex;
  margin-top: 23px;
  justify-content: center;
  cursor: default;
}
.main__new span {
  font-size: 24px;
  line-height: 36px;
}
.product_grid {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-column-gap: 70px;
  grid-row-gap: 50px;
}
.product_img_1 {
  width: 100%;
  position: relative;
  padding-top: 100%;
}
.product_img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.product_img_3 {
  background-color: #f3f3f3;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* PRODUCT END------------------------------------------------------------------*/

/* PRODUCT PAGE------------------------------------------------------------------*/
.productPage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.productPage_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 88.88%;
  max-width: 1440px;
}
.productPage_img {
  width: 600px;
  height: 600px;
}
.productPage_info {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 41.66%;
  cursor: default;
}
.productPage_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.productPage_name span {
  font-size: 24px;
  line-height: 36px;
}
.productPage_name_img {
  height: 23px;
  cursor: pointer;
}
.productPage_place_wr {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 27px;
  margin-top: 74px;
}
.productPage_hr {
  height: 3px;
  background: #a9a9a9;
  margin-top: 13px;
}
.productPage_delivery {
  font-size: 18px;
  line-height: 27px;
  margin-top: 21px;
}
.productPage_delivery_info {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-left: 44px;
}
.productPage_delivery_info span {
  font-size: 18px;
  line-height: 27px;
}
.productPage_condition {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.productPage_condition span {
  font-size: 18px;
  line-height: 27px;
}
.productPage_seller_price {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.productPage_seller {
  display: flex;
}
.productPage_seller_img {
  border-radius: 50%;
}
.productPage_seller_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.productPage_seller_info {
  font-size: 18px;
  line-height: 27px;
  margin-left: 12px;
}
.productPage_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.productPage_price span {
  font-size: 36px;
  line-height: 53px;
}
.productPage_price_buy {
  background: #247bff;
  border-radius: 2px;
  width: 227px;
  height: 40px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  cursor: pointer;
}
/* PRODUCT PAGE END------------------------------------------------------------------*/

/* BUTTON BACK------------------------------------------------------------------*/
.button_back {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button_back span {
  margin-left: 3px;
  font-size: 24px;
  line-height: 36px;
}
.button_img {
  height: 23px;
}
/* BUTTON BACK END------------------------------------------------------------------*/

/* MODAL START------------------------------------------------------------------*/
.modal {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 500px;
  margin: 100px auto;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  padding: 0 20px;
  outline: 0;
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
  height: 50px;
  background-color: #303030;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

/* MODAL END------------------------------------------------------------------*/

/* MODAL AUTCH START------------------------------------------------------------------*/
.modalAuth_login {
  display: none;
  position: absolute;
  width: 278px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 0px 9px 8px rgba(0, 0, 0, 0.04);
  right: 0px;
  padding: 0 24px;
}
.modalAuth__input {
  margin-top: 29px;
  display: block;
  height: 50px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  outline: 0;
  width: 100%;
  padding-left: 8px;
}
.modalAuth__button {
  width: 230px;
  height: 40px;
  border: none;
  background: #247bff;
  border-radius: 2px;
  margin-top: 29px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}
.modalAuth__button_in {
  width: 80px;
  height: 35px;
  background: #fff;
  color: #000;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  border: solid 2px #000;
  border-radius: 2px;
}
.modalAuth_register {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 6px;
}
.modalAuth_register span {
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
}

/* MODAL AUTH END------------------------------------------------------------------*/

/* MODAL PROFILE ------------------------------------------------------------------*/
.modalProfile {
  display: none;
  position: absolute;
  width: 278px;
  height: 340px;
  background: #ffffff;
  box-shadow: 0px 0px 9px 8px rgba(0, 0, 0, 0.04);
  right: 0px;
  padding: 0 24px;
}
.block {
  border: 1px solid green;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  background: green;
  color: #fff;
  box-shadow: 0 0 7px #000; /* Добавляем тень для блока */
}
.modalProfile::after,
.modalProfile::before {
  content: '';
  position: absolute;
  background: green;
  left: 20px;
  top: -11px;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 7px #000; /* Добавляем тень для уголка */
  z-index: -1; /* Прячем за основным блоком */
  transform: rotate(45deg); /* Поворачиваем на 45º */
  -webkit-transform: rotate(45deg);
}
.modalProfile::before {
  z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
  box-shadow: none; /* Прячем тень */
}
/* MODAL PROFILE END------------------------------------------------------------------*/

.show {
  display: block;
}
.hide {
  display: none;
}

/* MEDIA START------------------------------------------------------------------*/
@media (max-width: 1600px) {
  .product_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
}
@media (max-width: 1040px) {
  .product_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
  .header__logo {
    display: none;
  }
}
@media (max-width: 375px) {
  .product_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
  .header__goods {
    display: none;
  }
  .header__news {
    display: none;
  }

  .icon {
    display: block;
  }
}
/* MEDIA END------------------------------------------------------------------*/
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../public/fonts/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Oswald-Bold';
  src: url('../public/fonts/Oswald-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Semi-Bold';
  src: url('../public/fonts/Oswald-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
